* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    height: 100vh;
    box-shadow: 10px 10px 20px 0px #b1b1b1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.agendamentos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    overflow: auto;
}

.agendamento-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

